<p id="notice"><%= notice %></p>

<h3>
  <%= @runner.runner_name %>
</h3>

<p>
  <strong>Area:</strong>
  <%= @runner.area %>
</p>

<p>
  <strong>Order Sent:</strong>
  <%= @orders.count %>
</p>
<h4>Kena Bayar = 
	RM<%= @runner.balance %>
</h4>
<% if @runner.balance != 0 %>
	  <%= form_tag(runners_pay_path, :method => "post", id: "paid") do %>
      <%= hidden_field :id, params[:runner], :value => @runner.id %>
      <%= button_tag "Dah Bayar!", class: "success button" %>
      <% end %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Subtotal</th>
      <th>Cost</th>
      <th>Total Sales</th>
      <!-- <th>Delivery</th> -->
      <!-- <th>Runner</th> -->
      <!-- <th>Profit</th> -->
      <th>Cash in Hand</th>
      <th>Status</th>
      <!-- <th>Discount</th> -->
      <th>Area</th>
      <th>Runner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.order_id, order %></td>
        <td><%= order.c_date %></td>
        <td><%= order.subtotal %></td>
        <td><%= order.cost %></td>
        <td><%= order.sales %></td>
        <!-- <td><%= order.delivery %></td> -->
        <!-- <td><%= order.runner %></td> -->
        <td><%= order.profit %></td>
        <!-- <td><%= order.gst %></td> -->
        <% if order.paid == true %>
          <td>Cleared</td>
        <% else %>
          <td>Not Clear</td>
        <% end %>
        <!-- <td><%= order.discount %></td> -->
        <% if order.area_id != nil %>
        <% @area = Area.find(order.area_id) %>
        <td><%= @area.name %></td>
        <% else %>
        <td><%= order.area_id %></td>
        <% end %> 
        <td><%=  order.runner %></td>
           </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', runners_path %>
