<div class="row large-12 panel">
	<h1>Sales Report</h1>
        <div class="column large-12">
          <div class="column large-8">
          <%= form_tag(report_path, :method => "get", id: "datefilter") do %>
          <%= date_field_tag :filter, params[:filter], class: "span2", id: "dp1" %>

          </div>
           <div class="column large-4">
            <%= button_tag "Filter", class: "small" %>
            <% end %>
          </div>
          <h4>Total Orders: <%= @orders.count %></h4>
          <% @sales = 0 %>
          <h4>Total Sales: 
          	<% @orders.each do |z| %>
          		<% @sales += z.sales %>
          	<% end %>
          	RM <%= @sales %>
          </h4>

        </div>
<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Total Order</th>
      <th>Total Sales</th>
      <th>GST</th>
      <th>Profit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <% @a = @orders.where(area: area.name) %>
        <td><%= @a.count %></td>
        <% @sum = 0 %>
        <% @a.each do |x| %>
        	<% @sum += x.sales %>
        <% end %>
        <td><%= @sum %></td>
        <% @gst = 0 %>
        <% @a.each do |y| %>
        	<% @gst += y.gst %>
        <% end %>
        <td><%= @gst %></td>
        <% @profit = 0 %>
        <% @a.each do |z| %>
        	<% @profit += z.profit %>
        <% end %>
        <td><%= @profit %></td>

        <td><%= link_to 'Show', area %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>